{% extends 'base.html.twig' %}

{% block title %}Contactez-Nous {{ name_site }} {% endblock %}

{% block body %}

    <h2 class="row justify-content-center p-2">Contactez-nous</h2>

    {% for flash_error in app.flashes('mail_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {{ form_start(requestForm) }}

    {{ form_row(requestForm.Civility) }}
    {{ form_row(requestForm.FirstName) }}
    {{ form_row(requestForm.LastName) }}
    {{ form_row(requestForm.Email) }}
    {{ form_row(requestForm.PhoneNumber) }}
    {{ form_row(requestForm.Message) }}



    <button class="btn btn-success">Envoyer</button>
    {{ form_end(requestForm) }}

{% endblock %}
