{% extends 'base.html.twig' %}

{% block title %}Contactez-Nous {{ name_site }} {% endblock %}

{% block body %}

    <h2 class="row justify-content-center p-2">Contactez-nous</h2>

    {% for flash_error in app.flashes('mail_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="row justify-content-around">
        <div class="col-12 col-md-6 align-self-center">
            <img src="{{ asset('/assets/img/contact-img.jpg') }}" class="img-fluid title-image" alt="S'enregistrer">
        </div>
        <div class="col-12 col-md-6 align-self-center">
            {{ form_start(requestForm) }}

            {% if app.user %}
                {{ form_row(requestForm.Civility, {'value': app.user.civility.id}) }}
                {{ form_row(requestForm.FirstName, {'value': app.user.firstnameUser}) }}
                {{ form_row(requestForm.LastName, {'value': app.user.lastnameUser}) }}
                {{ form_row(requestForm.Email, {'value': app.user.emailContact}) }}
                {{ form_row(requestForm.PhoneNumber, {'value': app.user.phone}) }}
            {% else %}
                {{ form_row(requestForm.Civility) }}
                {{ form_row(requestForm.FirstName) }}
                {{ form_row(requestForm.LastName) }}
                {{ form_row(requestForm.Email) }}
                {{ form_row(requestForm.PhoneNumber) }}
            {% endif %}

            {{ form_row(requestForm.Message) }}

            <div class="row justify-content-center">
                <button class="btn btn-success col-2">Envoyer</button>
            </div>
            {{ form_end(requestForm) }}
        </div>
    </div>

{% endblock %}
