{% extends 'base.html.twig' %}


    {% block title %}
        {% if is_granted("ROLE_ADMIN") %}
            Dashboard Administrateur - {{ name_site }}
        {% elseif is_granted("ROLE_CANDIDATE") %}
            Dashboard Candidat - {{ name_site }}
        {% elseif not app.user %}
            Gérez vos candidatures - {{ name_site }}
        {% endif %}
    {% endblock %}


{% block body %}

    <div class="row justify-content-around">
        <div class="col-12 col-xl-6 d-none d-xl-inline align-self-center">
            <img src="{{ asset('./assets/img/accueil-img.jpg') }}" class="img-fluid title-image"
                 alt="Bienvenue sur MonStage.APP">
        </div>
        <div class="col-12 col-xl-6 align-self-center">
            <h4 class="row justify-content-center p-2">La gestion de vos candidatures de stages simplifiée grâce à
                MonStage.App</h4>
            <p>Le service vous propose :</p>
            <ul>
                <li>La création d'une liste d'entreprises où postuler avec les différents contacts de l'entreprise</li>
                <li>De classer vos candidatures et d'enregistrer des notes sur vos candidature</li>
                <li>Téléverser votre CV ppour un envoi plus direct</li>
                <li>Création d'un modèle de lettre de motivation avec des variables automatisans l'envoi des lettres de
                    motivation
                </li>
            </ul>
            <p>Le service est proposé gratuitement</p>
            <div class="row justify-content-center"><a href="{{ path('app_register') }}"
                                                       class="btn btn-success col-8">S'inscrire gratuitement</a>
            </div>
        </div>
    </div>


{% endblock %}
