{% extends 'base.html.twig' %}

{% block title %}Editer une entreprise - {{ name_site }}{% endblock %}

{% block body %}
    <h2 class="row justify-content-center p-2">Ajouter une entreprise</h2>

    {{ form_start(form) }}
    <div class="row justify-content-center">
        <div class="col-10">{{ form_row(form.companyName) }}</div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10"> {{ form_row(form.address) }}</div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10"> {{ form_row(form.addressTwo) }}</div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10"> {{ form_row(form.addressThree) }}</div>
    </div>

    <div class="row justify-content-center">
        <div class="col-5">
            <div class="form-floating">
                <input type="text" id="admin_edit_user_form_zipCode"
                       name="admin_edit_user_form[zipCode]"
                       required="required" autocomplete="zipcode"
                       placeholder="Code Postal"
                       class="form-control"
                       onblur="getCitiesFromZipCode(this.value, 'admin_edit_user_cityId');"/>
                <label for="admin_edit_user_form_zipCode" class="form-label required">Code
                    Postal</label></div>
        </div>
        <div class="col-5 align-self-center">
            <select id="admin_edit_user_cityId" name="cityId"
                    class="form-select" onblur="setCity(this.value, 'company_form_idCity')">
                <option value="">Saisissez un code postal pour afficher les villes</option>
            </select>
        </div>
        {{ form_row(form.idCity) }}
    </div>

    <div class="row justify-content-center">
        <div class="col-3"> {{ form_row(form.phoneCompany) }}</div>
        <div class="col-7"> {{ form_row(form.emailCompany) }}</div>
    </div>

    <div class="row justify-content-center">
        <button class="btn btn-success col-3 mt-2">Envoyer</button>
    </div>
    <div class="row justify-content-center">
        <a class="btn btn-success col-3 mt-2" href="{{ path('app_company_index') }}">Retour à la liste</a>
    </div>

    {{ form_end(form) }}
{% endblock %}
