<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ name_site }}{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('/assets/img/favicon.ico') }}">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('boots') }}
        {{ encore_entry_script_tags('tinymce') }}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('zipCode') }}
    {% endblock %}
</head>
{{ include('component/toast.html.twig') }}
{% include 'component/header.html.twig' %}
<div class="container-fluid maximarge mt-3 p-2 p-xl-5">

    {% block body %}

    {% endblock %}
</div>


{% include 'component/footer.html.twig' %}

</body>
</html>
